.button {
  --color: var(--accent-text);
  --background-color: var(--accent);
  --font-weight: 500;
  --font-size: 0.875rem;
  --font-family: var(--font);
  --padding-x: 0.75rem;
  --padding-y: 0.5rem;
  --margin-x: 0px;
  --margin-y: 0px;
  --border-width: 0.0625rem;
  --border-color: transparent;
  --border-radius: 0.25rem;
  --outline-width: 0.125rem;
  --outline-style: solid;
  --outline-color: transparent;
  --outline-offset: 0.125rem;
  --gap: 0.5rem;

  display: inline-flex;

  color: var(--color);
  background: var(--background-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  padding: var(--padding-y) var(--padding-x);
  margin: var(--margin-x) var(--margin-y);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: var(--outline-width) var(--outline-style) var(--outline-color) !important;
  outline-offset: var(--outline-offset);
  gap: var(--gap);

  transition-property: background, transform;
  transition-duration: 50ms;
  transition-timing-function: ease-in;

  &:focus-visible {
    --outline-color: var(--background-color);
  }

  &:hover {
    --background-color: var(--accent-light);
  }

  &:active {
    --background-color: var(--accent-dark);

    transform: translate(0.125rem, 0.125rem);
  }

  &:disabled {
    --color: var(--accent-text-muted);

    filter: saturate(0);

    pointer-events: none;
  }
}

.button-outline {
  --color: var(--text);
  --background-color: var(--background-light);
  --border-color: var(--border);

  &:focus-visible {
    --outline-color: var(--color);
  }

  &:hover {
    --background-color: var(--background);
  }

  &:active {
    --background-color: var(--background-dark);
  }

  &:disabled {
    --color: var(--text-muted);
  }
}

.button-link {
  --color: var(--text);
  --background-color: transparent;

  &:focus-visible {
    --outline-color: var(--color);
  }

  &:hover {
    --background-color: transparent;
  }

  &:active {
    --background-color: transparent;
  }

  &:disabled {
    --color: var(--text-muted);
  }
}

.button-tile {
  --border-radius: 0px;
}

.text {
  --color: var(--text);
  --background-color: transparent;
  --font-style: normal;
  --font-weight: 400;
  --font-size: 1rem;
  --font-family: var(--font);
  --line-height: 1.5;
  --margin-x: 0px;
  --margin-y: 0px;
  --padding-x: 0px;
  --padding-y: 0px;

  color: var(--color);
  background: var(--background-color);
  font: var(--font-style) var(--font-weight) var(--font-size) var(--font-family);
  line-height: var(--line-height);
  margin: var(--margin-y) var(--margin-x);
  padding: var(--padding-y) var(--padding-x);
}

.text-title {
  --font-weight: 500;
  --font-size: 2rem;
  --line-height: 1.125;
  --margin-y: 0.2em;
}

.text-subtitle {
  --color: var(--text-muted);
  --font-weight: 500;
  --font-size: 1.5rem;
  --line-height: 1.35;
  --margin-y: 0.2em;
}

.text-paragraph {
  --font-weight: 400;
  --font-size: 1rem;
  --margin-y: 0.2em;
}

.text-code {
  --color: var(--text-muted);
  --background-color: var(--background);
  --font-weight: 600;
  --font-size: 0.875rem;
  --font-family: var(--font-mono);
  --padding-x: 0.325em;
  --padding-y: 0.2em;
}

.text-bold {
  --font-weight: 500;
}

.text-small {
  --font-size: 0.75rem;
}

.text-muted {
  --color: var(--text-muted);
}

.text-italic {
  --font-style: italic;
}

.box-container {
  --max-width: var(--screen-lg);

  max-width: var(--max-width);
}

.box-small-form {
  --max-width: 22.5rem;

  max-width: var(--max-width);
}

.box-isolated {
  padding: 0.5rem;
}

.box-middled {
  margin: 0 auto;
}

.box-quote {
  --background-color: var(--background);
  --border-style: solid;
  --border-width: 0.125rem;
  --border-color: var(--accent);
  --border-radius: 0.25rem;
  --padding-x: 0.75rem;
  --padding-y: 0.75rem;
  --margin-x: 0.2rem;
  --margin-y: 0.2rem;

  background: var(--background-color);

  border-left: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);

  padding: var(--padding-y) var(--padding-x);
  
  margin: var(--margin-y) var(--margin-x);
}

.bullet-list {
  --list-style: disc;
  --padding-left: 2rem;
  --line-height: 1.65;

  list-style: var(--list-style);
  padding-left: var(--padding-left);
  line-height: var(--line-height);

  .bullet-list {
    --list-style: circle;
  }
}

.field {
  --display: flex;
  --flex-direction: column;
  --gap: 0px;

  display: var(--display);
  flex-direction: var(--flex-direction);
  gap: var(--gap);
}

.field-label {
  --color: var(--text);
  --font-style: normal;
  --font-weight: 500;
  --font-size: 1rem;
  --font-family: var(--font);
  --line-height: 1.5;
  --margin-x: 0px;
  --margin-y: 0px;
  --padding-x: 0.5rem;
  --padding-y: 0.325rem;

  color: var(--color);
  font: var(--font-style) var(--font-weight) var(--font-size) var(--font-family);
  line-height: var(--line-height);
  margin: var(--margin-y) var(--margin-x);
  padding: var(--padding-y) var(--padding-x);
}

.field-message {
  --color: var(--text-muted);
  --font-style: normal;
  --font-weight: 400;
  --font-size: 0.875rem;
  --font-family: var(--font);
  --line-height: 1.5;
  --margin-x: 0px;
  --margin-y: 0px;
  --padding-x: 0.5rem;
  --padding-y: 0.325rem;

  color: var(--color);
  font: var(--font-style) var(--font-weight) var(--font-size) var(--font-family);
  line-height: var(--line-height);
  margin: var(--margin-y) var(--margin-x);
  padding: var(--padding-y) var(--padding-x);
}

.input {
  --color: var(--text);
  --color-placeholder: var(--text-muted);
  --font-weight: 400;
  --font-size: 1rem;
  --font-family: var(--font);
  --line-height: 1.5;
  --margin-x: 0px;
  --margin-y: 0px;
  --padding-x: 0.5rem;
  --padding-y: 0.5rem;
  --border-width: 0.0625rem;
  --border-color: var(--border);
  --border-radius: 0.25rem;
  --resize: vertical;

  color: var(--color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  line-height: var(--line-height);

  margin: var(--margin-y) var(--margin-x);
  padding: var(--padding-y) var(--padding-x);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);

  resize: var(--resize);

  &:focus {
    --border: var(--accent);
  }

  &::placeholder {
    color: var(--color-placeholder);
  }
}

.card {
  --display: flex;
  --flex-direction: column;
  --gap: 0px;
  --background-color: var(--card-background);
  --border-width: 0.0625rem;
  --border-color: var(--card-border);
  --border-radius: 0.5rem;
  --padding-x: 1.325rem;
  --padding-y: 1rem;

  display: var(--display);
  flex-direction: var(--flex-direction);
  gap: var(--gap);
  background: var(--background-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding-y) var(--padding-x);
}

.card-header {
  --display: flex;
  --flex-direction: row;
  --justify-content: space-between;
  --gap: 0px;

  display: var(--display);
  flex-direction: var(--flex-direction);
  justify-content: var(--justify-content);
  gap: var(--gap);
}

.card-title {
  --color: var(--text);
  --font-style: normal;
  --font-weight: 500;
  --font-size: 1.25rem;
  --font-family: var(--font);
  --line-height: normal;
  --margin-x: 0px;
  --margin-y: 0px;
  --padding-x: 0px;
  --padding-y: 0px;

  color: var(--color);
  font: var(--font-style) var(--font-weight) var(--font-size) var(--font-family);
  line-height: var(--line-height);
  margin: var(--margin-y) var(--margin-x);
  padding: var(--padding-y) var(--padding-x);
}

.card-content {
  --padding-x: 0px;
  --padding-y: 0.5rem;

  padding: var(--padding-y) var(--padding-x);
}

.card-footer {
  --display: flex;
  --flex-direction: row;
  --justify-content: space-between;
  --gap: 0px;

  display: var(--display);
  flex-direction: var(--flex-direction);
  justify-content: var(--justify-content);
  gap: var(--gap);
}

.avatar {
  --width: 4rem;
  --height: 4rem;
  --border-radius: 9999px;

  display: inline-block;

  background: var(--background-dark);

  width: var(--width);
  height: var(--height);

  border-radius: var(--border-radius);
}

.avatar-medium {
  --width: 3rem;
  --height: 3rem;
}

.avatar-small {
  --width: 2rem;
  --height: 2rem;
}

.avatar-tiny {
  --width: 1rem;
  --height: 1rem;
}
